.container{
    padding: 10px;
    display: flex;
    justify-content: space-between;
  }
  
  .button{
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .button:disabled{
    cursor: not-allowed;
  }

  @media (max-width: 768px) {
    /* Adjustments for smaller screens */
    .container {
      padding: 20px; /* Adjust padding for smaller screens */
    }
  }