.container {
    display: flex;
  }
  
  .menu {
    flex: 1;
    background-color: var(--bgSoft);
    padding: 20px;
    min-height: 100vh;
  }
  
  .content {
    flex: 4;
    padding: 20px;
  }
  
  .wrapper {
    display: flex;
    gap: 20px;
    margin-top: 20px;
  }
  
  .main {
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-content: center;
  }
  
  .side {
    flex: 1;
  }

  @media (max-width: 768px) {
    /* Adjustments for smaller screens */
    .container {
      padding: 2px;
      max-height: 100px;
      max-width: 10px;
    }

    .productpage{
      display: none;
    }

    .cards {
      display:grid;
      grid-template-columns: 1fr;
      gap: 10px;
      width: max-content;
      margin: 10px;
    }
  }

  