.container {
    display: flex;
  }
  
  .menu {
    flex: 1;
    background-color: var(--bgSoft);
    padding: 20px;
    height: 60vh;
    border-radius: 10px;
  }
  
  .content {
    flex: 4; 
    padding: 20px;
  }

  .main {
    flex: 3;
    gap: 20px;
  }
  
  .cards {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
  }
  
  .side {
    flex: 1;
  }

  @media (max-width: 768px) {
    /* Adjustments for smaller screens */
    .container {
      padding: 2px;
      
    }

    .productpage{
      display: none;
    }

    .cards {
      display: flex; 
   
    }
    .content {
      padding: 5px;
    }

    .menu {
      background-color: var(--bgSoft);
      padding:1px;
      margin: 10px ;
      height: 270px;
      border-radius: 10px;
      flex: 1;
      
    }
  }

  